.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.overlay h1 {
    text-align:center;
    color:#fff;
    font-size: 4vw;
    margin-top:17%;
    margin-right: 40vw;
    margin-left: 10vw;
    font-family:  "Montserrat", sans-serif;
}
.go-page {
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .9vh 1.5vw;
    font-size: 1.7vw;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 1vw;
    margin-bottom: 3vw;
}
#go-page-2 {
    text-decoration: none !important;
    background-color: #ffa24c;
    color: white;
}

#go-page-2:hover {
    text-decoration: none !important;
    background-color: #e78e2a;
    color: white;
}


/* ################# */
/* Заголовки страницы */
/* ################# */
.artist-title {
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
    font-weight: bolder;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 10px;
}


/* ################# */
/* Превью */
/* ################# */
.container-about-the-artist {
    margin-top: 7vw;
    border: 100px;
    padding-left: 10%;
    padding-right: 10%;

}

.about-the-artist {
    font-family: "Montserrat", sans-serif;
    line-height: 2.9vmax;
    font-weight: bolder;
    font-size: 2.5vmin;
    margin: 3vw 10% 5vw;
    text-align: justify;
    text-indent: 30px;
    color: #5a5a5a;
}


.btn {
  color: #3a3a3a;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;}



.btn-1 {
    background: white;
    font-weight: 100;}

svg {
    height: 57px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

rect {
    fill: none;
    stroke: #3a3a3a;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

#price-text {
    color: #3a3a3a;
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    background: white;
    font-weight: 900;
    letter-spacing: 1px;
}

#price {
    color: #eb5e3e;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    background: white;
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-1:hover {
    background: white;
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-1:hover rect {
        stroke-width: 5;
        stroke-dasharray: 15, 310;
        stroke-dashoffset: 48;
        transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }

#background-chart {
    width: 100%;
    height: 70vw;
    margin-top: 10vw;
}

.chart-img {
    margin-left: 10vw;
}

.img-pos {width: 80%;}
@media screen and (max-width: 767px) {
    .btn {
        max-width: 80px;
        width: 100%;
    }
    .btn-1:hover {
        background: white;
        font-weight: 900;
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 645px) {
    #price-text {
        font-weight: 900;
        letter-spacing: 1px;
        line-height: 25px;
        left: 35vw;
        margin-top: -195px;
    }

    #price {
        left: 35vw;
        margin-top: -5px;
    }
    #background-chart {
        width: 100%;
        height: 120vw;
    }

    .img-pos {
        width: 80vw;
        margin-left: -35vw;
        margin-top: 240px;
    }

    .ui-datepicker-trigger {
        margin-left: 5px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
}
