{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/main.css">
<script src="../static/js/main.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css" >
<script src="/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}


{% block content %}
<div class="fullscreen-bg">
    <div class="overlay">
        <h1>KSA - Рассчет стоимости<br>нефти Brent</h1>
        <a href="#get_forecast" style="margin-left: 48vw; margin-top: 2vw" id="go-page-2" class="go-page">Получить</a>
    </div>
    <video loop="" muted="" autoplay="" poster="" class="fullscreen-bg__video">
        <source src="../static/media/video/2.mp4" type="video/mp4">
    </video>
</div>

<!-- ############################################# -->
<!--              Коротко о главном                -->
<!-- ############################################# -->
<a name="about-the-artist"></a>
<section class="container-about-the-artist">
    <div class="artist-title">Коротко о главном</div>
    <p class="about-the-artist"> «Нейронефть» — это онлайн-хакатон, который пройдёт в рамках Тюменского Нефтегазового
        Форума с 18 по 22 сентября. Здесь ты и твоя команда за 5 дней должны будете создать программный продукт,
        предсказывающий курс нефти. И всё это, чтобы стать победителем и разделить призовой фонд в размере 850 000
        рублей. </p>
</section>

<a name="visualization"></a>
<section id="background-chart" style="display: grid; grid-template-columns: 0.7fr 1.3fr;">
    <div>


        <a style="margin-left: 10.5vw; margin-bottom: 1vw" id="price-text">
            прогноз на 24.10
        </a>
        <a style="margin-left: 10.5vw; margin-bottom: 1vw" id="price">
            38.0$
        </a>

        <div id="title-text">Предсказание на дату</div>
                    <div class="form-group">
                        <div style="margin-left: 11vw; margin-top: 1.2vw" class='input-group date'>
                            <input type="text" id="datepicker">

                            <script>
                                $(function(){
                                    $("#datepicker").datepicker();
                                });
                            </script>
                        </div>
                    </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker2').datetimepicker({
                            locale: 'ru'
                        });
                    });
                </script>
    </div>
    <div>
        <div class="chart-img">
            <img class="img-pos" src="../static/media/image/1.jpg">
        </div>
        <div style="display: grid; grid-template-columns: 0.25fr 0.25fr 0.25fr;"  class="btn-pos">
            <a id="click_3day" class="btn btn-1" style="margin-left: 2vw; margin-top: 1vw; margin-bottom: 1vw">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                3 дня
            </a>
            <a id="click_week" style="margin-left: 2vw; margin-bottom: 1vw; margin-top: 1vw" class="btn btn-1">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                Неделя
            </a>
            <a id="click_month" style="margin-left: 2vw; margin-bottom: 1vw; margin-top: 1vw" class="btn btn-1">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                Месяц
            </a>
        </div>
    </div>
</section>

<div class="container">
    <a name="get_forecast"></a>
</div>
{% endblock %}