{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/base.css">
<script src="/static/js/TweenMax.min.js"></script>
<script src="/static/js/EasePack.min.js"></script>
<script src="/static/js/sitehere-animation.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}


{% block content %}
{% endblock %}